<!DOCTYPE html>
<html lang="en">

<!-- staticをロード -->
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>メンバー</title>
    <meta name="Content-Style-Type" content="text/css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
　　<h1>プレイヤー</h1>
<hr>
    <form action="" method="post">
        {% csrf_token %}
        <label>┌ー名前:<input type="text" size="20" name="left_name1" value="A"></label>さん
        <br>
        <label>└ー名前:<input type="text" size="20" name="left_name2" value="B"></label>さん(開始時左サーバー)
        <br>
        <label>ー┐名前:<input type="text" size="20" name="right_name1" value="C"></label>さん(開始時右サーバー)
        <br>
        <label>ー┘名前:<input type="text" size="20" name="right_name2" value="D"></label>さん
        <br>
        <br>
        <input id="decision" type="submit" value="決定">
    </form>

</body>
</html>